@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&subset=latin-ext');

.page {
  font-family: 'Lato', sans-serif;
  color: #333
}


/* HEADER */

.page header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height:100vh;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction:column;
  justify-content:center;
  padding:30px;
  width: 100%;
  position: relative;
}

.page header h1 {
  color:#fff;
  font-size: 40em;
  margin: 40px 0px 40px 0px;
  padding-bottom:20px;
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #fff;
}

.page header .author {
  color: rgba(255,255,255,0.8);
  position: relative;
  z-index: 2;
  font-size: 20px;
}

.page header .fog {

  /* gradient */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

  display: block;
  height: 100%;
  width: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}
.page header .cat {
  font-size: 20px;
  font-family: "Lato";
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  position: relative;
  z-index: 2;
}

.page header .tags {
  font-size:16px;
  width: 100%;
  padding: 40px;
  position: absolute;
  bottom:0px;
  left: 0px;
  z-index: 2;
  color: rgba(255, 255, 255, 0.8);
}

.page header .tags .license {
  float: right;
}

/* TEXT CONTENT */

.page .text {
  width: 100%;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  line-height: 1.58;
  position: relative;
}

.page .text p a {
  color: inherit;
}

.page p {
  margin: 40px 0px;
}

.page p strong {
  font-size: 21px;
}

.page .text h2:first-of-type {
  margin-top:100px;
  font-size: 35px;
}

.page h2 .romb {
  width: 20px;
  height: 35px;
  padding-right: 15px;
}

/* INDEX */

.page .index {
  position:absolute;
  left: 800px;
  top: 0px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.page .index a {
  display: block;
  width:100%;
  border-bottom:1px solid #eee;
  padding:10px 5px;
  font-size: 14px;
  opacity: 0.8;
  transition: opacity .2s;
  cursor: pointer;
  color: inherit;
}

.page .index a:hover {
  opacity: 1;
}

.page .index a::before {
  content: "";
  display: inline-block;
  vertical-align:top;
  width:10px;
  height:10px;
  border: 3px solid #eee;
  border-radius: 100%;
  margin: 2px 10px auto 0px
}

/* AUTHORS */

.authors {
  width: 100%;
  padding: 20px;
  text-align: center;
}
.authors .author {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  text-align:center;
  margin: 20px 0px;
}

.authors .author img {
  display: block;
  margin: 10px auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #eee;
  border-radius: 100%;
}

.authors .author h6 {
  margin-bottom:5px;
}

.authors .author span {
  font-size: 12px;
  color: #5d6063;
  line-height: auto;
  display: block;
}

/* SOCIAL */

.social {
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -500px; /*half the width*/
  text-align: center;
  text-transform: uppercase;
}

.social ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.social ul li a {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
   border-radius:50%;
   text-align:center;
   width: 50px;
   height: 50px;
   font-size:20px;
   line-height:50px;
   color: #fff;
  color: #d3d3d3;
  border: #d3d3d3;
  display: block;
  margin-top: 5px;
  opacity: 1;
}

.social ul li i {
}

.social li a:hover  {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
   opacity: 1;
}

.social a.icoHeart:hover {
	color: #BD3518;
}
.social a.icoFacebook:hover {
	color:#3B5998;
}
.social a.icoTwitter:hover {
	color:#33ccff;
}
.social a.icoGoogle:hover {
	color:#BD3518;
}
.social a.icoVimeo:hover {
	color:#0590B8;
}
.social a.icoBookmark:hover {
	color:#007bb7;
}

/* BLOCKQUOTES */

blockquote {
  border-left: 6px solid #5d6063;
  font-style: italic;
  font-size: 25px;
  margin: 20px 0px 80px 50px;
  padding-left: 20px;
  position:relative;
  /*#6d6d6d;*/
}
blockquote span.author {
   bottom: -40px;
   color: #6d6d6d;
   font-size: 18px;
   position: absolute;
   right: 70px;
}

/* IMAGES */

figure {
  width: 100%;
  text-align:center;
  padding: 20px 50px;
  margin: 10px auto;
}

figure img {
  width: 100%
}

figure figcaption {
  width: 80%;
  color: #333;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
}
figure figcaption span {
  display: block;
  font-size: 10px;
  margin-top: 5px;
  color: #222;
}

/* Please share p */

.page .please-share {
    margin: 20px 0px;
    padding: 20px 40px;
    border-top: 1px solid #eee;
    font-style:italic;
    color: #6d6d6d;
    font-size: 22px;
    text-align: center;
}
.page .please-share span { margin:0px 5px; }



/* ADDITIONAL ELEMENTS */
.romb {
  background: #ff0;
  display: inline-block;
  margin:0px 10px 0px 3px;
  width: 18px;
  height:28px;
  position:relative;
  top: 4px;
  z-index:0;
  -webkit-transform: skew(-10deg); -moz-transform: skew(-10deg); -o-transform: skew(-10deg);
}

/* FOR TABLET */

@media (max-width: 1500px) {
  .page .index {
    position: static;
    width: 100%;
    margin-bottom:40px;
  }

  .page .index h3 {
    margin: 20px 0px;
  }

}

/* FOR MOBILE */

@media (max-width: 769px) {

  .page .text {
    font-size: 16px;
  }
  .page .text p strong {
    font-size: 18px;
  }
  .page h1 {
    text-align: center;
    padding: 0px 20px;
    font-size: 25px !important;
  }
  .page p, .page h3, .page h2, .index  {
    padding: 0px 20px;
  }

  .page h3 {
    text-align: center;
  }

 figure figcaption {
   font-size: 16px;
   width: 100%;
 }

  /* social */
  .social {
    background: #fff;
    top: inherit;
    bottom: 0px;
    left: 0px;
    margin-left: 0px;
    width: 100%;
    border-top: 1px solid #eee;
  }

  .social ul {
    flex-direction: row;
  }

  .social h6 {
    display: inline-block;
    height: 100%;
    line-height: 60px;
    vertical-align: bottom;
    width: 100px;
  }
  .page .please-share {
    font-size: 10px;
  }

  .tags {
    display: none;
  }

  /* Blockquote */
   blockquote {
     font-size: 16px;
     margin: 20px 20px 60px 20px;

   }

    blockquote span.author {
      font-size: 12px;
      right: 0px;
    }

    /* authors */
    .authors .author {
      width: 135px;
    }
}
