@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&subset=latin-ext');

.page {
  font-family: 'Lato', sans-serif;
  color: #333
}

/* HEADER */

.page header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height:100vh;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction:column;
  justify-content:center;
  padding:30px;
  width: 100%;
  position: relative;
}

.page header h1 {
  color:#fff;
  font-size: 40em;
  margin: 40px 0px 40px 0px;
  padding-bottom:20px;
  position: relative;
  text-transform: capitalize;
  z-index: 2;
  border-bottom: 1px solid #fff;
}

.page header .author {
  color: rgba(255,255,255,0.8);
  position: relative;
  z-index: 2;
  font-size: 20px;
}

.page header .fog {

  /* gradient */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

  display: block;
  height: 100%;
  width: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
}
.page header .cat {
  font-size: 20px;
  font-family: "Lato";
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  position: relative;
  z-index: 2;
}

.page header .tags {
  font-size:16px;
  width: 100%;
  padding: 40px;
  position: absolute;
  bottom:0px;
  left: 0px;
  z-index: 2;
  color: rgba(255, 255, 255, 0.8);
}

.page header .tags .license {
  float: right;
}

/* TEXT CONTENT */

.page .text {
  width: 100%;
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  line-height: 1.58;
}

.page p {
  margin: 40px 0px;
}

.page p strong {
  font-size: 21px;
}

/* SOCIAL */

.social {
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -500px; /*half the width*/
  text-align: center;
  text-transform: uppercase;
}

.social ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.social ul li a {
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
   border-radius:50%;
   text-align:center;
   width: 50px;
   height: 50px;
   font-size:20px;
   line-height:50px;
   color: #fff;
  color: #d3d3d3;
  border: #d3d3d3;
  display: block;
  margin-top: 5px;
  opacity: 1;
}

.social ul li i {
}

.social li a:hover  {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
   opacity: 1;
}

.social a.icoRss:hover {
	color: #BD3518;
}
.social a.icoFacebook:hover {
	color:#3B5998;
}
.social a.icoTwitter:hover {
	color:#33ccff;
}
.social a.icoGoogle:hover {
	color:#BD3518;
}
.social a.icoVimeo:hover {
	color:#0590B8;
}
.social a.icoBookmark:hover {
	color:#007bb7;
}


/* IMAGES */

figure {
  width: 100%;
  text-align:center;
  padding: 20px 50px;
  margin: 10px auto;
}

figure img {
  width: 100%
}

figure figcaption {
  width: 80%;
  color: #333;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
}
figure figcaption span {
  display: block;
  font-size: 10px;
  margin-top: 5px;
  color: #222;
}

/* ADDITIONAL ELEMENTS */
.romb {
  background: #ff0;
  display: inline-block;
  margin:0px 10px 0px 3px;
  width: 18px;
  height:28px;
  position:relative;
  top: 4px;
  z-index:0;
  -webkit-transform: skew(-10deg); -moz-transform: skew(-10deg); -o-transform: skew(-10deg);
}
