* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #5d6063;
  font-family: Open Sans;
  font-size: 20px;
  overflow-x: hidden; /* hide scroll */
}

h1, h2, h3, h4, h5, h6 {
  font-family: Lato;
  font-weight: black;
}

/* Content */

.content {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.content article {
  background: #fff;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  flex: none;
}

.content article.page {  display: none; }

.content article.page.active {
  display: block;
  animation-name: fadein;
  animation-duration: 4s;
}

/* NOT FOUND Styling */

.content article.not_found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content article.not_found h1 {
  font-size: 6em;
  font-weight: bold;
}

/* FRONT PAGE styling */

.content article.front_page {
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content article.front_page img {
  margin: 0 auto;
  height: 90vh;
  width: auto;
  transition: .2s;
}
.content article.front_page button {
  background:rgba(0,0,0,0.8);
  border: 1px solid #ccc;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  cursor:pointer;
  color: #fff;
  opacity: 0.7;
  font-family:Lato;
  font-weight:black;
  padding: 20px;
  font-size: 2em;
  position: absolute;
  transition: .2s;
}
.content article.front_page button:hover {
  opacity: 1;
}

/* ANIMATIONS */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
